.BookingPage {
    /* width: 85vw [desktop]. 100vw[mobile]; */
    width: 100vw;
    height: 70vh;
    grid-area: BookingPage;
    display: grid;
  
    background-color: var(--primary-color-01);
    color: var(--color-01);
}


.reservationForm #bookingTime {
    width: 270px;
}