.Login {
    width: 100vw;
    height: 70vh;
    grid-area: Login;
    display: grid;
  
    background-color: var(--primary-color-01);
    color: var(--color-01);
}


.login-form {
    color: var(--chakra-colors-gray-700);
    background-color: var(--chakra-colors-gray-50);
}